@font-face {
  font-family: Cubano;
  src: url('../font/iCielBCCubano-Normal.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
@font-face {
  font-family: Teko;
  src: url('../font/Teko-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.6;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.main {
  background-color: #ffffff;
  position: relative;
  height: auto;
  /* overflow: hidden; */
}

.main-container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.section-container {
  width: 873px;
  max-width: 100%;
  margin: 0 auto;
}

.logo-img {
  background-image: url('../images/logo.png');
}
